<div class="row">
	
	<div class="span4">
		<div id="side-container">
			<div id='notices'>
				<%= render partial: 'notices'%>
			</div>
			<div id='creation-form'>
				<%= render partial: "create_event"%>
			</div>
		</div>
	</div>
	
	<div class="span8" id="coolendar-container">
		<ul class="nav nav-tabs">
		  <li class="active"><a href="#"><%= image_tag("calendar.svg")%>  My Coolendar</a></li>
		  <li><a href="#"><%= image_tag("wine.svg")%>  Invitations</a></li>
		  <li><a href="#"><%= image_tag("search.svg")%>  Explore</a></li>
		  <li>
			<div class="btn-group" id="list-month-controller" data-toggle="buttons-radio">
				<button type="button" class="btn btn-warning" id="list-btn">list</button>
				<button type="button" class="btn btn-warning" id="month-btn">month</button>
			</div>
			</li>
		</ul>
		
		<div id="coolendar-inner">
			<%= render partial: 'coolendar_inner' %>
		</div>
	</div>
	
</div>





 
    