<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Name:</b>
  <%= @contact.name %>
</p>

<p>
  <b>Picture url:</b>
  <%= @contact.picture_url %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
