<div class="login">
	<div class="account_login">
		<h4>Connect with</h4>	
		<a href="/auth/google_oauth2" class="btn btn-primary btn-large">Google</a>
	</div>

	<div class="account_login">
		<h4>Already have an account?</h4>

		<%= form_for resource, :html => {:class => "form-inline"}, :as => resource_name, :url => session_path(resource_name) do |f| %>
	  		<div class="input-prepend">
				<span class="add-on"><i class="icon-envelope"></i></span>
				<%= f.email_field :email, :class => "span2", :placeholder => "Email"%>
			</div>
	
			<%= f.password_field :password, :class => "input-small", :placeholder => "Password"%>
	
			<% if devise_mapping.rememberable? -%>
				<label class="checkbox">
	    			<%= f.check_box :remember_me %> <%= f.label :remember_me %>
				</label>
			<% end -%>

	  		<%= f.submit "Login", :class => "btn btn-success"%> 
		<% end %>
	</div>
</div>

